/* Style tab links */

.tab_buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50vw;
    margin: 32px;
}

.tablink {
    background-color: black;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    align-items: center;
    display: block;
    padding: 14px 16px;
    font-size: 17px;
    width: 25vw;
}

.tablink:hover {
    background-color: black;
}

/* Style the tab content (and add height:100% for full page content) */

.tabcontent {
    color: black;
    display: none;
    width: fit-content;
    padding: 20px 20px;
    height: 100%;
    margin: 4px 16px 4px 16px;
}