* {
  box-sizing: border-box;
}

.carousal-container {
  color: black;
  display: flex;
  flex-wrap: nowrap;
}

.carousal-item {
  color: black;
  background-color: white;
  padding: 16px;
  width: max-content;
  height: fit-content;
  margin: 32px;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  background-color: DodgerBlue;
}
